body {

    background-color:  #a6afe5

}
H1 {

    background-color: rgb(236, 198, 255) 

}

P {

    background-color:  #d9a7ed

}

.foto {

width:  50%; 

}

#galeria {

    background-color:azure;
    width:  50%; 

}
